<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
   
  </head>
  <body>
    <h1>About</h1>
    <p>
      <h3>Discover OnGraph Technologies</h3>
<b>100% customer satisfaction</b>
<p>Established in 2005, OnGraph Technologies started its operations with few simple goals in mind. Totally client-focused and 100% customer satisfaction approach, driving by excellent leadership to provide world class IT services to our customers to sell/develop new ideas, market their products and extend services. The Company has its Headquarters in UK, and Development Center in India, with excellent resource pool of Designers, Developers, and New Media Experts providing solutions to Clients across North America, Europe and Asia.
Enterprise Solution
OnGraph a complete web enterprise solution company catering global services in software, mobile, web applications, content management, web portal, software, CMS, web content management. We offer services across the globe to empower web enterprise organization with a strong platform at all level of technological solution for your business.
</p>
    </p>
  </body>
</html>
