<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
 
  </head>
  <body>
    <h1>Help</h1>
    <p>Use ContactHelp.com as your definitive resource to get customer service and support from thousands of top companies. We have compiled a database consisting of the best ways to contact the companies you rely on. Whether it be your bank, an airline you booked tickets for, an electronics manufacturer for the item you just purchased, or any other company you may frequently give your business, ContactHelp.com will help you get service and support fast.
<h3>
Join our community
</h3>
With over 1 million visitors per month, our customer service listings and information are constantly updated by our users. This is a critical step ensuring we always have the most recent and accurate details on our web site. Companies frequently change their methods of contact making getting customer support all the more difficult. We help empower consumers by offering crowd-sourced methods to react to these changes and give everyone the benefit of the best information possible
    </p>
  </body>
</html>